<table>
	<thead>
		<th>Name  </th>
		<th>Email </th>
        <th>Mobile  </th>
        <th>City</th>
        <th>State</th>
		
	</thead>
	<tbody>
		<%-@contects.each do |emp|%>
		<tr>
			<td><%=emp.name%></td>
            <td><%=emp.email%></td>
            

            <td><%=emp.mobile%></td>

			<td><%=emp.city%></td>
		    <td><%=emp.state%></td>


			<td><%=link_to "Remove", contect_path(emp), method: :delete %></td>
			<td><%=link_to "Edit", contect_path(emp), method: :edit %></td>
		</tr>
		<%end%>


		
	</tbody>

</table>
<br>
<a href="/contects/new">New Query</a>